<div class="content">
    <div class="main-section">
        <div class="row justify-content-center">
            <div class="col-lg-6 pr-5 mb-4" style="max-width: 400px;">
                <img class="shadow-sm" src="../../assets/images/20220207_185745.jpg" style="width: 100%;">
                <!-- <small class="text-de-emphasize">Me, clearly approving of something</small> -->
            </div>
            <div class="col-lg-6">
                <div class="page-header mb-3">
                  Hey there, I’m André!
                </div>
                <div class="mb-5">
                    <p>
                      I'm an Experience Designer and Front-end Developer, currently working as a consultant for <a href="http://densitet.com" target="_blank">densitet</a> from Gothenburg, Sweden. Previously I worked in telecommunications as a leading Experience Deisnger in Sales and CRM tools.
                    </p>
                    <p>
                      A few years ago I started out as a Software (Front-end) Developer, before taking on the role of UX developer and eventually moving on to being a full-fledged Experience Designer. My focus has always been on web and/or app development and products.
                    </p>
                    <p>My background in Software Development has enabled me to do rapid prototyping via HTML/CSS/JavaScript in order to quickly visualize solutions. My experience with UX and UI design enables me to very effectively develop nice-looking and user-friendly UI and front-end. I embrace both the designer and developer in me and always look to use my skills and experience to create incredible products that make the world just a little bit nicer.</p>
                    <p>I'm as enthusiastic about cars and technology as I am about design and product development. When I'm not designing you may find me watching Formula 1, checking out the latest gadgets or playing pool with some friends.</p>
                </div>  
            </div>
        </div>
    </div>
    <!-- <div class="main-section flex-wrap d-flex">
      <div class="about-image-wrapper mr-3">
        <div class="shadow-sm about-image" style="background-image: url(../../assets/images/20220114_192140.jpg);"></div>
      </div>
      <div class="about-image-wrapper">
        <div class="shadow-sm about-image" style="background-image: url(../../assets/images/20220210_180305.jpg)"></div>
      </div>
    </div> -->
</div>