<div style="position: absolute;
left: 0;
top: 80px;
z-index: -1;
height: 600px;
max-height: 50vh;
width: 100%;
overflow: hidden;
background: url(../../assets/images/digitalflex.jpg);
    background-size: cover;
    background-position-x: center;background-position-y: center;">
    <div class="d-none" style="
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0, 0.6);
    align-items: center;
    display: flex;
    justify-content: center;
">
        <!-- <div class="text-center" style="color: white;">
            <h1 class="mb-5" style="font-size: 8rem;font-weight: 400;">Qvantel</h1>
            <p style="font-size: 2rem;font-weight: 300;">Leading the UI, UX, CX and EX in Sales & CRM tools.</p>
        </div> -->
    </div>
    <!-- <img src="../../assets/images/DigitalBSS_InsideNoLogo.jpg" width="100%"> -->
</div>
<div class="content">
    <div class="main-section" style="margin-bottom: 50vh;">
        <div class="text-center" style="color: white;">
            <!-- <h1 class="mb-5" style="font-size: 4rem; font-weight: 400;">Qvantel</h1>
            <p style="font-size: 2rem; font-weight: 300;">Leading the UI, UX, CX and EX in Sales &amp; CRM tools.</p> -->
        </div>
    </div>
    <div class="main-section">
        <div class="row mb-5">
            <div class="col-lg-6 mb-5">
                <h1 class="text-color-brand mb-3">qvantel</h1>
                <p class="emphasize font-weight-light mb-0">Experience Designer</p>
                <p>May 2021 - September 2022</p>
                <div class="mb-3 ml-5" style="height: 50px; border-left: 1px solid #44444450;"></div>
                <p class="emphasize font-weight-light mb-0">UX Developer</p>
                <p>January 2020 - May 2021</p>
                <div class="mb-3 ml-5" style="height: 50px; border-left: 1px solid #44444450;"></div>
                <p class="emphasize font-weight-light mb-0">Software Developer</p>
                <p>September 2019 - January 2020</p>
            </div>
            <div class="col-lg-6">
                <div>
                    <h5 class="font-italic mb-3">As the nature of this work can't be shared publicly, I won't be able to show any project visuals. However, I can provide a description of the work I've done.</h5>
                    <!-- <h1 class="mb-5" style="font-size: 4rem; font-weight: 400;">Qvantel</h1> -->
                    <h6>Background</h6>
                    <p>Qvantel is leading the evolution of Digital BSS. Headquartered in Finland, with over 20 offices world-wide, Qvantel is a global, product-based company. Qvantel delivers software for over 230 million telecoms customers covering mobile, fixed and TV services.</p>
                    <h6>Area</h6>
                    <p>CRM tool for <span class="text-emphasize emphasize">Sales and Care</span>: A powerful and configurable tool-suite for daily sales and customer care with 360 visibility.</p>
                    <h6>Role</h6>
                    <p>Experience Designer. Previously a team, then lone designer embedded with product managers, engineers and developers.</p>
                </div>
            </div>
        </div>
        <div class="text-center mb-5">
            <div>
                <img class="mb-2" src="../../assets/images/SCT-tablet-blurry.png" style="width: 50%;">
                <small class="d-block text-de-emphasize">Blurred-out example of Sales & Care CRM.</small>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6">
                <h2 class="mb-4 text-primary">Sales & Care CRM</h2>
                <p>Features include:</p>
                <ul class="mb-5">
                    <li>Customer management</li>
                    <li>Customer interaction logging</li>
                    <li>Subscription management for mobile, fixed-line and TV.</li>
                    <li>Device management.</li>
                    <li>Billing, invoicing and payments.</li>
                    <li>Top-ups.</li>
                    <li>Order management.</li>
                    <li>Purchase of new subscriptions and products.</li>
                    <li>And more...</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p>The <span class="text-primary emphasize">Qvantel 360 Care Toolbox</span> empowers DSP's front and back-office teams to proactively drive customer interactions and account operations, in such cases where despite focusing on digital self-care, assistance is needed.</p>
                <p>Additionally, it provides Operators' Point-of-Sales representatives with all necessary functionalities for customer onboarding, as well as in life cross- and up-sales, across B2C and SMB customer segments.</p>
                <p>This is the flagship product and I have had full ownership of the complete experience and UI.</p>
                <p>I have lead and driven the product design with focus on effectivness for operators helping customers with their subscriptions and products, whether it's over phone or in store.</p>
                <p>Major challenges have included very high stack complexity and many technical limitations making simple design approaches and good user experience much less straight forward.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 text-center mb-5">
                <img class="mb-2" src="../../assets/images/GA_phone.png" style="width: 50%;">
                <small class="d-block text-de-emphasize">OOTB Google Analytics app</small>
            </div>
            <div class="col-lg-6">
                <h2 class="text-warning mb-3">Analytics</h2>
                <p>Recently Qvantel started using <span class="text-warning emphasize">Google Analytics</span> for collecting user and application data in order to more effectively identify improvement areas, priorities and general usage in the products</p>
                <p>The project landed on me to manage the roll-out to different customers and deciding on its collection and presentation in the Google Analytics tool.</p>
                <p>More importantly I have been responsible for analyzing the data coming in and presenting my analyses and conclusions to the rest of the company.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 mb-5">
                <h2 class="text-success mb-3">UX Management</h2>
                <p>As lone designer leading the company's flagship product, I've had to take on a bit of a UX manager role. As Qvantel has been innovating, new <span class="text-success emphasize">UX strategies</span> have been needed and I landed in a position where I have needed to define the new <span class="text-success emphasize">UX vision</span> and strategies to support the new ways of doing things.</p>
                <p>This includes defining best practices and training material, in order to have a unified UX and CX across the company.</p>
            </div>
            <div class="col-lg-6">
                <div class="d-flex justify-content-center mb-5">
                    <div class="about-image-wrapper flex-grow-0" style="width: 80%;">
                        <div class="shadow-sm about-image" style="background-image: url(../../assets/images/csr-working.png);"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <h2 class="mb-3" style="color: #757780;">Conclusion</h2>
                <p>Qvantel's flagship product is a powerful and configurable tool-suite for daily sales and customer care with 360 visibility.</p>
                <p>To alone have ownership of such a big and complex product has come with its own unique set of challenges. With the added responsibilities that Google Analytics and UX management brought, Qvantel came to be a great place for learning and growth.</p>
            </div>
        </div>
    </div>
</div>